* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Jost, sans-serif;
    background-color: #f0f0f0;
    /* overflow: hidden; */
    
}

header {
    /* width: 100vw; */
    text-align: center;
    margin-bottom: 10px;
    background-color: #4D63C5;
}

.image_header {
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/img/capa.png");
}

nav {
    background-color:#cacaca;
    margin-top: 15px;
    padding: 1.5rem;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
}
nav ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav li {
    list-style: none;
}

.minha-conta {
    font-weight: bold;
    cursor: pointer;
}
.sub-menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: .5rem;
    
}
.active {
    opacity: 1;
    transition: .8s;
}

/* .minha_conta:hover + .sub-menu {
    opacity: 1;
    transition: .8s;

} */

main {
    text-align: center;
}

main h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: #4D63C5;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: #666;
}

button {
    background-color: #4D63C5;
    border: #4D63C5;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button-a {
    color: #fff;
    border:  5px solid #4D63C5;
    padding: 20px;
    margin-top: 10px;
    background-color: #4D63C5;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

#form-orc {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    left: 30%;

}

form {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    left: 30%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
}
input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* contato */ 
.info {
    flex: 1;
    background-color: #3b3b3b;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.9em;
    display: flex;
    gap:300px;
    align-items: center;
  }
  
  
  .map {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .map img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
/* orçamento */
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-row {
    gap: 10px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 20px;
    border: 2px solid #7a7777;
    border-radius: 5px;
    font-size: 14px;
    
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #4a73c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .submit-btn:hover {
    background: #365899;
  }

/* cadastro */

.container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}



